@forward "./scss/index";

@font-face {
    font-family: "inter";
    src: url("./scss/font/inter.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
}